@import url(variables.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    outline-width: 1px;
}

body {
    height: 100vh;
}

header {
    height: 15vh;
    background-color: rgb(226, 226, 226);
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: row;
}

.parrafozone div{
    outline-style: dashed;
}

.parrafozone .parrafo {
    font-size: 20px;
}

.parrafozone2 DIV{
    outline-style: dashed;
}


article, aside {
    outline-style: dashed;
    padding: 1vh;
}

article {
    width: 30%;
    font-size: 23px;
}

.subitempart {
    display: flex;
    flex-direction: column;
}

aside {
    width: 100%;
}

.itemsl {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10vh;
    top: 2vh;
    width: 8vh;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

.valorescontainer {
    display: flex;
    justify-content: center;
}

.valores {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    height: 30vh;
    margin-top: 2vh;
}

.valores div {
    padding: 10px;
    width: 200px;
    height: 200px;
}


.item {
    display: flex;
    align-items: center;
}

.item i {

    display: flex;
    font-size: 20px;
    margin-right: 10px;
    outline-style: dashed;
}

.downaside {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}