@import url(variables.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    outline-width: 1px;
}

body {
    height: 100vh;
}

header {
    height: 15vh;
    background-color: rgb(226, 226, 226);
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: row;
}


.titulo {
    outline-style: dashed;
}

.dashboard {
    outline-style: dashed;
}


.parrafozone div{
    padding: 3px 10px;
    outline-style: dashed;
}

.parrafozone2 div {
    padding: 3px 5px;
}

.parrafozone .parrafo {
    font-size: 20px;
}

.parrafozone2 DIV{
    outline-style: dashed;
}


article, aside {
    outline-style: dashed;
    padding: 1vh;
}

article {
    width: 30%;
    font-size: 23px;
}

.subitempart {
    display: flex;
    flex-direction: column;
}

aside {
    width: 100%;
}

.itemsl {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10vh;
    top: 2vh;
    width: 8vh;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

.valorescontainer {
    outline-style: dashed;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.valores {
    outline-style: dashed;
    display: flex;
    width: 490px;
    flex-wrap: wrap;

}

.valores div {
    display: flex;
    flex-direction: column;
    outline-style: dashed;
    padding: 10px;
    width: 200px;
    height: 100px;
    margin: 10px;
}


.item {
    display: flex;
    align-items: center;
}

.item i {

    display: flex;
    font-size: 20px;
    margin-right: 10px;
    outline-style: dashed;
}

.subitem {
    margin-left: 23px;
}


/* Aside */


aside .titulo {
    height: 3vh;
    display: flex;
    align-items: center;
}

aside .dashboard {
    outline-style: dashed;
    height: 5vh;
    width: 15vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainaside h3 {
    padding: 1vh;
}

.downcontainer {
    display: flex;
    justify-content: center;
}

.downaside {
    margin-top: 10px;
    outline-style: dashed;
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulocont {
    display: flex;
    justify-content: start;
}
.downaside p {
    display: flex;
    width: 35vw;
    height: 10vh;
    outline-style: dashed;
    padding: 1vh;
}